name: Build LineageOS 22 - m14x
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Maximize Build Space (Cleanup)
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 2048
          swap-size-mb: 16384 # 16GB Swap is required for Android 15 linking
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'

      - name: Install Build Dependencies
        run: |
          sudo apt update
          sudo apt install -y bc build-essential flex g++-multilib gcc-multilib git gnupg gperf lib32ncurses5-dev lib32readline-dev lib32z1-dev liblz4-tool libncurses5 libncurses5-dev libsdl1.2-dev libssl-dev libxml2 libxml2-utils lzop pngcrush rsync schedtool squashfs-tools xsltproc zip zlib1g-dev python3 git-lfs

      - name: Setup Repo Tool
        run: |
          mkdir -p ~/bin
          curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
          chmod a+x ~/bin/repo
          sudo ln -sf ~/bin/repo /usr/bin/repo

      - name: Sync Source Code
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          repo init -u https://github.com/LineageOS/android.git -b lineage-22.0 --git-lfs --depth=1
          
          # Clone your device tree into the correct path
          git clone https://github.com/devhunter1/android_device_samsung_m14x -b lineage-22.2 device/samsung/m14x
          
          # Sync only necessary projects to save space
          repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags

      - name: Build ROM
        run: |
          source build/envsetup.sh
          lunch lineage_m14x-ap3a-userdebug
          mka bacon -j$(nproc --all)

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: LineageOS-m14x-Build
          path: out/target/product/m14x/*.zip
