name: Remote File Pull
on: 
  workflow_dispatch:
    inputs:
      tunnel_url:
        description: 'Your tunnel URL'
        required: true

jobs:
  download_and_upload:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download from Termux
        run: |
          # --keepalive helps maintain the connection
          # --retry 10 will keep trying if the pipe breaks
          curl -L -v -H "bypass-tunnel-reminder: true" \
          --keepalive-time 60 \
          --retry 10 \
          --retry-delay 5 \
          "${{ github.event.inputs.tunnel_url }}/vendor_final.img" \
          -o vendor_final.img
          
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "v1.5.0"
          name: "Final Vendor Image"
          files: vendor_final.img
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
