name: Remote File Pull
on: 
  workflow_dispatch:
    inputs:
      tunnel_url:
        description: 'Your tunnel URL (without trailing slash)'
        required: true
        default: 'https://1e7d77c40340cb.lhr.life'

jobs:
  download_and_upload:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to create the Release
    steps:
      - name: Download from Termux
        run: |
          # We use -L to follow redirects and -o to name the output
          curl -L "${{ github.event.inputs.tunnel_url }}/vendor_final.img" -o vendor_final.img
          
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "v1.0.0"
          name: "Vendor Image Export"
          body: "Transfer completed from Termux tunnel."
          files: vendor_final.img
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
